<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="js-lib/jquery-2.2.4.min.js"></script>

<meta charset="ISO-8859-1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<title>Item Master Card</title>
</head>
<script type="text/javascript">
function buttonDis(status){
	status = !status;
	document.getElementById("sub").disabled = status;
}


</script>
<style type="text/css">
#heading {
text-align: center;
font-size: 30px;
margin-left: -10px;
margin-bottom: 20px;
}
.box {
  box-sizing: content-box;
  border: 2px solid black;
   margin: auto;
 
  width: 800px;
  padding-top: 35px;
  padding-left: 60px;
 
}
.box1 {
box-sizing: content-box;
border: 2px solid black;
margin: auto;
margin-bottom: 20px;
width: 800px;
padding-top: 35px;
  padding-left: 60px;


}

input[type="text"],input[type="number"],input[type="email"]{
  	 
     background: transparent;
     border: 1px solid black;
     font-family: Helvetica,arial,sans-serif;
     margin-bottom: 30px;
     margin-left: 60px;
     padding:8px;
     font-size: 15px;
     width:400px;
}
label{
    display: inline-block;
    width:150px;
    text-align: left;
    font-size: 20px;
}
button {
 justify-content: center;
 margin-left: 40px;
 font-size: 20px;
 margin-bottom: 19px;
 font-family: Helvetica,arial,sans-serif;
 display: inline-block;
}
.wrapper {
    text-align: center;
}
select{
font-size: 15px;
padding-left: 10px;
width:418px;
height: 40px;
margin-left: 60px;
margin-bottom: 30px; 

}
#req{
text-align: center;
font-size: 25px;
}

#heading1 {
text-align: center; 
font-size: 30px;

}

/* nav-bar*/
ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
 
}

li a {
   float: right;
   display: block;
   color: white;
   padding: 18px 16px;
   text-decoration: none;
   font-size: 25px;
}
li a:hover {
  background-color: #111;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(66, 54, 54);
  text-align: center;
}
li p {
float: left;
   display: block;
  color: white;
  text-align: center;
 padding-left: 20px;

  text-decoration: none;
  font-size: 22px;

}
img {
 margin: auto;
 padding-left: 7px;
 padding-top:4px;
 }


</style>
<body>
    <div class="container-fluid des" >
        <nav class="navbar navbar-expand-lg navbar-blue">
           <a class="navbar-brand" href="#">
           <img src="/images/cel_logo.png" width="40" height="40"/> CEL
           </a> 
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
           </button>


     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
        <li class="nav-item active">
              <a class="nav-link active" aria-current="page" href="/homepage.html">Home</a>
        </li>
        <li class="nav-item active">
              <a class="nav-link" href="#">Link</a>
        </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Link</a>
        </li>
        
   </ul>
         <ul class="navbar-nav ms-auto">
         <li class="nav-item active">
            <li class="nav-item active">
                <a class="nav-link active" aria-current="page" href="#">Admin</a>
          </li>
          <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/">Log Out</a>
          </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Link</a>
          </li>
            </ul>
        </div> 
        </nav>
         
     </div>

<!--  <img src="images/cel_logo.png" alt="CEL logo" height="70" width="80">
<p id="heading1">Central Electronics Limited</p>-->
<p id="heading"> Item Master Card</p><br>
<form action="db_item.jsp" method="post" autocomplete="off">
<div class="box1">
<tr>
<th><label style="margin-left: -30px; ">Division Code:</label>
<select id="division" name="division" style="width: 250px; margin-left: -5px;" required>
<option value="">Choose an Option</option>
<option value="C0100">C0100  (PROFESSIONAL FERRITES DIVISION (PFD))</option>
<option value="C0200">C0200  (ELECTRONIC CERAMIC DIVISION (ECD))</option>
<option value="C0208">C0208  (INT.SEC.SYSTEM)</option>
<option value="C0300">C0300  (INSTRUMENTS & SYSTEMS DIVISION (SPD))</option>
<option value="C0500">C0500  (SECURITY SURVEILLLANCE GROUP)</option>
<option value="C0600">C0600  (MICROWAVE ELECTRONICS DIVISION (MED))</option>
<option value="C0700">C0700  (SOLAR PHOTOVOLTAIC DIVISION (SPVG))</option>
<option value="C0702">C0702  (SPV CZT(OLD))</option>
<option value="C0800">C0800  (EESL SPECIAL PROJECT)</option>
<option value="C0901">C0901  (CMD OFFICE)</option>
<option value="C0902">C0902  (FINANCE & ACCOUNTS DIVISION (FAD))</option>
<option value="C0903">C0903  (MATERIAL MANAGEMENT DIVISION (MMD))</option>
<option value="C0904">C0904  (CORPORATE PLANNING & HUMAN RESOURCE DIVISION (CP&H))</option>
<option value="C0905">C0905  (REG SALES OFF)</option>
<option value="C0906">C0906  (QUALITY ASSURANCE & SERVICES DIVISION)</option>
<option value="C0907">C0907  (ENGINEERING DIVISION)</option>
<option value="C0908">C0908  (JHARKHAND)</option>
<option value="C0909">C0909  (MARKETING DIVISION (COMPONENTS))</option>
<option value="C0910">C0910  (MARKETING DIVISION (SYSTEMS))</option>
<option value="C0911">C0911  (MARKETING DIVISION (SPVG))</option>
<option value="C0912">C0912  (CORP.PLAN & TRAINING DIVISON (CP&HRD))</option>
<option value="C0913">C0913  (ORISSA)</option>
<option value="C0914">C0914  (CENTRE FOR CRYSTAL GROWTH)</option>
<option value="C0915">C0915  (ASSAM)</option>
<option value="C0916">C0916  (TECH. EDUCATION)</option>
<option value="C0917">C0917  (DISPOSAL DIVISION)</option>
<option value="C0918">C0918  (IT)</option>
<option value="C0919">C0919  (GUJARAT CEL OFFICE)</option>
<option value="C1000">C1000  (INDUSTRIAL ELECTRONICS DIVISION)</option>
<option value="R&D">R&D</option>
<option value="R0612">R0612  (MED I&M)</option>
<option value="R1200">R1200  (R&D FACILITY FOR ALL PRODUCT)</option>
<option value="R1300">R1300  (Installation of Solar Panel on Science Express)</option>
<option value="R1400">R1400  (DEV. OF SOLAR CITIES PROGRAMME)</option>
<option value="R2000">R2000  (CZT PROJECT FOR SPV  (SSPL))</option>
<option value="R7400">R7400  (PZDAC PROJECT OF SPD (DSIR))</option>
<option value="R7500">R7500  (SECONDARY REFERENCE CELL PROJECT(MNRE)</option>
<option value="R7600">R7600  (SECURITY SYSTEMS PROJECT OF ECD (TDB))</option>
<option value="R8800">R8800  (SPD (R&D))</option>
<option value="R9900">R9900  (SPVF-UHE AREA FOR HIT SOLAR CELLS)</option>
<option value="Other">Other</option>
</select ></th>
<th>
<label style="margin-left:20px; ">Group Code:</label>
<select name="group" id = "group"style="width: 252px; margin-left: -8px;" required>
<option value="">Choose an Option</option>
<option value="01">01 (SPV)</option>
<option value="02">02 (COMP)</option>
<option value="03">03 (SPD)</option>
<option value="04">04 (ADMIN)</option>
<option value="05">05 (PAYROLL)</option>
<option value="06">06 (CENTRAL ACCOUNTS)</option>
<option value="07">07 (SALES TAX AND EXCISE)</option>
<option value="08">08 (OTHERS)</option>
<option value="09">09 (PROJECTS)</option>
<option value="10">10 (MED)</option>
<option value="11">11 (ECD)</option>
<option value="12">12 (R&D)</option>
<option value="13">13 (CCG)</option>
<option value="14">14 (SSG)</option>
<option value="15">15 (EESL SPECIAL PROJECTS)</option>
</select>
</th>
<th><label style="margin-left: -26px;" >Filled By:</label><input type="text" name="fname" id="fname" style="width: 235px; margin-left: -5px;" autocomplete="off" required></th>
</tr>
<tr>
<th><label style="margin-left: 20px;">Date:</label><input type="text" id = "date" name="date" style="width:235px; font-size:20px; margin-left: -6px; height:20px;" readonly ></th>
<th><label style="margin-left: -30px;">Intercom No.:</label><input type="text" name="intercom" style="width:236px; margin-left: -1px;" autocomplete="off" maxlength="3" pattern ="[0-9]{3}" required></th>
<th><label style="margin-left:18px;">Employee Code:</label><input type="text" name="Empid" id = "Empid" style="width:232px;margin-left: -4px;"  autocomplete="off" required><br></th>
</tr>
</div>
<div class="box">
<label>Number Series:</label><input type="Text" name="noseries" style="width:300px;" required><p style="margin-left: 550px; margin-top:-65px;margin-bottom:20px;font-family: Helvetica,arial,sans-serif;">Example: RM-SPV-,ST-MED-,VSET-</p><br>
<label id="item_no1">Item No. :</label> <input type="Text"  name="item_no" id="item_no" value = "" readonly><br>
<label>Name:</label> <input type="text"  name="user_name" required ><br>
<label>Description 1:</label> <input type="text" name="description1" required  ><br>
<label>Description 2:</label> <input type="text" name="description2"  ><br>
<label>Unit:</label> <input type="text" name="unit" ><br>
<label>Item Category:</label>
<select name="item_category" id = "item_category" onblur = "insert_productG()" required>
<option value="">Choose an Option</option>
<option value="ASSEMBLY">ASSEMBLY</option>
<option value="CELL">CELL</option>
<option value="CER">CER</option>
<option value="CHEM">CHEM</option>
<option value="COMPONENT">COMPONENT</option>
<option value="EE">EE</option>
<option value="GAS">GAS</option>
<option value="MECH">MECH</option>
<option value="NF&F">NF&F</option>
<option value="OTHERS">OTHERS</option>
<option value="PACKING">PACKING</option>
<option value="PZT">PZT</option>
<option value="SEMICONDUC">SEMICONDUC</option>
<option value="SIL WAFER">SIL WAFER</option>
<option value="STAT">STAT</option>
<option value="SUB.ASSY.">SUB.ASSY.</option>
<option value="WAFERS">WAFERS</option>
</select>
<br>
<label>Product Group</label>
<span id="p_g"><input type="text" name="prod_gr" id="prod_gr" required></span>
<br>
<label>Responsibility Center:</label> <!--  <input type="text" name="rc" >-->
<select name="rc" required>
<option value="">Choose an Option</option>
<option value="ADMIN">ADMIN (ADMINISTRATION)</option>
<option value="CCG">CCG</option>
<option value="ECD">ECD (Electronic and Ceramic Division)</option>
<option value="MED">MED (Microwave Electronics Division)</option>
<option value="EESL">EESL (EESL SPECIAL PROJECT)</option>
<option value="PAYROLL">PAYROLL</option>
<option value="PFD">PFD (Professional Ferriets Division)</option>
<option value="R&D">R&D</option>
<option value="SPD">SPD (System and Production Division)</option>
<option value="SPV">SPV (Solar Cell and Photo-volatic)</option>
<option value="SSG">SSG (Security & Survillance Group)</option>
</select>
<br>
<label>General Product Posting Group</label>
<select name="gp" required>
<option value="">Choose an Option</option>
<option value="BANK CHARG">BANK CHARG</option>
<option value="CLEARING">CLEARING</option>
<option value="CON">CON</option>
<option value="CONTRACTOR">CONTRACTOR</option>
<option value="CPM">CPM</option>
<option value="CST DIFFER">CST DIFFER</option>
<option value="CUSTOM">CUSTOM</option>
<option value="EXPENSES">EXPENSES</option>
<option value="FA">FA</option>
<option value="FG">FG</option>
<option value="FGREV">FGREV</option>
<option value="FREIGHT-IN">FREIGHT-IN</option>
<option value="FREIGHT-OT">FREIGHT-OT</option>
<option value="FUEL">FUEL</option>
<option value="G/L">G/L</option>
<option value="GL/CC">GL/CC</option>
<option value="GL/CS">GL/CS</option>
<option value="JOBWORK">JOBWORK</option>
<option value="NM">NM</option>
<option value="OTHERS">OTHERS</option>
<option value="OVERHEAD">OVERHEAD</option>
<option value="PACKING">PACKING</option>
<option value="POWER">POWER</option>
<option value="REV">REV</option>
<option value="RM">RM</option>
<option value="SALEGOODS">SALEGOODS</option>
<option value="SERVICE">SERVICE</option>
<option value="SF">SF</option>
<option value="STORES">STORES</option>
<option value="TOOLS">TOOLS</option>
<option value="TRADING">TRADING</option>
<option value="WIP">WIP</option>
<option value="ZERO">ZERO</option>
</select>
<br>
<label>Inventory Posting Group</label> 
<select name="ip" required>
<option value="">Choose an Option</option>
<option value="CON">CON</option>
<option value="FG">FG</option>
<option value="FUEL">FUEL</option>
<option value="NM">NM</option>
<option value="OTHERS">OTHERS</option>
<option value="PACKING">PACKING</option>
<option value="RM">RM</option>
<option value="SERVICE">SERVICE</option>
<option value="SF">SF</option>
<option value="SFG">SFG</option>
<option value="STORES">STORES</option>
<option value="TOOLS">TOOLS</option>
<option value="TRADING">TRADING</option>
<option value="WIP">WIP</option>
</select>
<br>
<label>Quality Check</label> 
<select name="qc" required>
<option value="Yes">Yes</option>
<option value="No">NO</option>
</select>
<br>
<ul style="list-style-type: none; font-size: 18px;">
<li style="margin-left: -35px;padding-left: 10px;"><input type="checkbox" id = "checkbox" value="verify" onclick="buttonDis(this.checked)" style="margin-right: 10px;">I have Checked and found this item does not exist in current item master and kindly create a new item card for the same.</li>
</ul>
<div class="wrapper" >
<!--  <button type="Submit" onclick="form.action='save2db.jsp';">Save</button>-->
<button type="submit" id="sub" disabled>Submit</button>
</div>
</div>
</form>
</body>
<script type="text/javascript">
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = year + "-" + month + "-" + day;       
document.getElementById("date").value = today;
$("#item_no1").hide();
$("#item_no").hide();
function insert_productG() {
	var x = document.getElementById("item_category").value;
	var y = ['ASSYMBLY', 'CARD', 'FG', 'SFG', 'STORES', 'SOLAR CELL', 'BAR', 'POWDER', 'GAS', 'GEL', 'LANTERN', 'LIQ', 'MED', 'SILVER', 'SOLID', 'COMPONENT', 'CON', 'RM', 'ACDB/DCDB', 'ADAPTOR', 'AMMETER', 'ASSYMBLY', 'BATTERY', 'BOS', 'BOXES', 'CABLE', 'CABLE FLAT', 'CABLE/WIRE', 'CAPACITOR', 'CARD', 'CCTV', 'CFL', 'CHARGE CON', 'COMPONENT', 'CONNECTOR', 'CONTROLLER', 'CRYSTAL', 'DIODE', 'DIOD-ZENER', 'DZ', 'EEBOX', 'EPOXY', 'EQUIPMENT', 'EXTENSION', 'FAB', 'FERRITE', 'FUSE', 'GENERAL', 'HANDSET', 'HLS', 'HW NUT', 'HW SCREW', 'IC', 'INDUCTOR', 'INVERTER', 'INVERTER C', 'JOY STICK', 'KEYBOARD', 'KIT', 'LANTERN', 'LCD', 'LED', 'LOC HEADER', 'LOC HOLDER', 'LUMINAIRE', 'LUMINI', 'M O V', 'MARKER', 'MCB', 'MED', 'MEDIA CONV', 'MODULE', 'MOSFET', 'MOTOR', 'MOUSE', 'MS COUPLER', 'OTHER', 'OTHERS', 'PANEL MTR', 'PCB', 'PCB T-STRP', 'PCU', 'PIT HEADER', 'PITCH PLUG', 'POTEN-MTR', 'POWER SUPP', 'PP', 'PRESET', 'PROBE', 'PUMP', 'PV RIBBON', 'REFGRITOR', 'RELAY', 'RESISTOR', 'RLY-SOCKET', 'SEAL', 'SEMI CON', 'SENSOR', 'SF', 'SHUNT', 'SLS', 'SOCKET', 'SOLD. BATH', 'SPARE', 'SPARES', 'SSDAC', 'SUR-ARREST', 'SWITCH', 'SYSTEM', 'TAPE', 'TB', 'TERM BLOCK', 'TEST CABLE', 'TH COUPLER', 'TOOL', 'TOOL KIT', 'TOOLS KIT', 'TRANS-COIL', 'TRANSFMR', 'TRANSISTOR', 'UPS', 'VOLTMETER', 'WPS', 'Z-MISC', 'AL. CHANNE', 'AL. SHEET', 'AL.BAR', 'BEARING', 'BOBBIN', 'BOX', 'BOX HEADER', 'CABLE TIE', 'CARD', 'CON', 'COUPLING', 'CPR', 'CRYSTAL', 'DIAMOND WH', 'DIE', 'EQU', 'FAB', 'FGS', 'GENERAL', 'HANDLE', 'HARDWARE', 'HW BOLT', 'HW NUT', 'HW PAINT', 'HW RING', 'HW RIVET', 'HW SCREW', 'HW SPANNER', 'HW WASHER', 'INVERTER', 'KIT', 'LABEL', 'LADDER', 'LIQ', 'LOCK', 'M S FLAT', 'M S PLATE', 'M S ROD', 'MACHINE', 'MED', 'MS ANGLE', 'MS CHANNEL', 'MS FLAT', 'MS PLATE', 'MS ROD', 'MS SHEET', 'NRV', 'OTHERS', 'PHENOLIC', 'PIPE', 'PRINT', 'RM', 'SFG', 'SOCKET', 'SOLAR STIL', 'SOLDER', 'SPARE', 'SPARES', 'STICKER', 'STRUCTURE', 'TAPE', 'TEST JIG', 'TOOL', 'TOOL KIT', 'TOOLS KIT', 'VALVE', 'WASHER', 'Z-MISC', 'ASSYMBLY', 'LIQ', 'MED', 'MS PLATE', 'OTHERS', 'AL CHANNEL', 'AL. CHANNE', 'BACK SHEET', 'BOBBIN', 'BOMB SUIT', 'BOOKS', 'CAB-MARKER', 'CAPACITOR', 'COMPONENT', 'EQUIPMENT', 'EVA', 'FERRULE', 'FG', 'FLUX', 'FUEL', 'GENERAL', 'GI PIPE', 'HEAT SINK', 'INSTRUMENT', 'LED HOLDER', 'LUG', 'MED', 'OTHERS', 'PACKING', 'PIPE', 'PP', 'PV RIBBON', 'SEAL', 'SFG', 'SLEEVE', 'SMALL TOOL', 'SOLARCELL', 'SOLDER', 'SPARE', 'STRUCTURE', 'TOOL KIT', 'TOUGHEN', 'TOUGHNED G', 'WPS', 'YOKE CLIP', 'Z-MISC', 'CUBE', 'CYLINDER', 'DISC', 'RING', 'SLAB', 'SQUARE', 'TUBE', 'SFG', 'RM', 'DUPLICATE', 'FOLD', 'FOLDER', 'LETTER HEA', 'PAD', 'PAPER', 'PEN', 'PUNCH', 'SHEET', 'STICKER', 'TAPE', 'OTHERS', 'SFG']
	var a_sel = "<select id=\"prod_gr\" name=\"prod_gr\" required></select>";
	if(x=="ASSEMBLY"){
		document.getElementById("p_g").innerHTML = a_sel;
		var sel = document.getElementById("prod_gr");
		$("#prod_gr").empty();
		for(var i=0;i<5;i++){
			
			var option = document.createElement("option");
			option.text = y[i];
			option.value = y[i];
			sel.add(option);
	}
	}
	else if(x=="CELL"){
		document.getElementById("p_g").innerHTML = a_sel;
		var sel = document.getElementById("prod_gr");
		$("#prod_gr").empty();
		var option = document.createElement("option");
		option.text = y[5];
		option.value = y[5];
		sel.add(option);
	}
	
	else if(x=="CER"){
		document.getElementById("p_g").innerHTML = a_sel;
		var sel = document.getElementById("prod_gr");
		$("#prod_gr").empty();
		for(var i=6;i<8;i++){
			var option = document.createElement("option");
			option.text = y[i];
			option.value = y[i];
			sel.add(option);
		}
		
	}
	
	else if(x=="CHEM"){
		document.getElementById("p_g").innerHTML = a_sel;
		var sel = document.getElementById("prod_gr");
		$("#prod_gr").empty();
		for(var i=8;i<15;i++){
			var option = document.createElement("option");
			option.text = y[i];
			option.value = y[i];
			sel.add(option);
		}
		
	}
	else if(x=="COMPONENT"){
		document.getElementById("p_g").innerHTML = a_sel;
		var sel = document.getElementById("prod_gr");
		$("#prod_gr").empty();
		for(var i=15;i<18;i++){
			var option = document.createElement("option");
			option.text = y[i];
			option.value = y[i];
			sel.add(option);
		}
		
	}
	else if(x=="EE"){
		document.getElementById("p_g").innerHTML = a_sel;
		var sel = document.getElementById("prod_gr");
		$("#prod_gr").empty();
		for(var i=18;i<124;i++){
			var option = document.createElement("option");
			option.text = y[i];
			option.value = y[i];
			sel.add(option);
		}
		
	}
	else if(x=="MECH"){
		document.getElementById("p_g").innerHTML = a_sel;
		var sel = document.getElementById("prod_gr");
		$("#prod_gr").empty();
		for(var i=124;i<192;i++){
			var option = document.createElement("option");
			option.text = y[i];
			option.value = y[i];
			sel.add(option);
		}
		
	}
	
	else if(x=="NF&F"){
		document.getElementById("p_g").innerHTML = a_sel;
		var sel = document.getElementById("prod_gr");
		$("#prod_gr").empty();
		for(var i=192;i<197;i++){
			var option = document.createElement("option");
			option.text = y[i];
			option.value = y[i];
			sel.add(option);
		}
		
	}
	
	else if(x=="OTHERS"){
		document.getElementById("p_g").innerHTML = a_sel;
		var sel = document.getElementById("prod_gr");
		$("#prod_gr").empty();
		for(var i=197;i<238;i++){
			var option = document.createElement("option");
			option.text = y[i];
			option.value = y[i];
			sel.add(option);
		}
		
	}
	
	else if(x=="PZT"){
		document.getElementById("p_g").innerHTML = a_sel;
		var sel = document.getElementById("prod_gr");
		$("#prod_gr").empty();
		for(var i=238;i<245;i++){
			var option = document.createElement("option");
			option.text = y[i];
			option.value = y[i];
			sel.add(option);
		}
		
	}
	
	
	
	else if(x=="SEMICONDUC"){
		document.getElementById("p_g").innerHTML = a_sel;
		var sel = document.getElementById("prod_gr");
		$("#prod_gr").empty();
			var option = document.createElement("option");
			option.text = y[245];
			option.value = y[245];
			sel.add(option);
		
	}
	
	
	else if(x=="SIL WAFER"){
		document.getElementById("p_g").innerHTML = a_sel;
		var sel = document.getElementById("prod_gr");
		$("#prod_gr").empty();
			var option = document.createElement("option");
			option.text = y[246];
			option.value = y[246];
			sel.add(option);
		
		
	}
	else if(x=="STAT"){
		document.getElementById("p_g").innerHTML = a_sel;
		var sel = document.getElementById("prod_gr");
		$("#prod_gr").empty();
		for(var i=247;i<258;i++){
			var option = document.createElement("option");
			option.text = y[i];
			option.value = y[i];
			sel.add(option);
		}
		
	}
	
	else if(x=="SUB.ASSY."){
		document.getElementById("p_g").innerHTML = a_sel;
		var sel = document.getElementById("prod_gr");
		$("#prod_gr").empty();
		for(var i=258;i<260;i++){
			var option = document.createElement("option");
			option.text = y[i];
			option.value = y[i];
			sel.add(option);
		}
		
	}
	
	else if(x=="GAS" || x=="WAFERS" || x=="Other" || x=="PACKING"){
		document.getElementById("p_g").innerHTML = "<input type=\"text\" name=\"prod_gr\" id=\"prod_gr\">"
	}
}

</script>
<script>
var emp = '<%=String.valueOf(session.getAttribute("empc"))%>';
if(emp=="null"){
	location.replace("cel_login.jsp");
}
else{
	$("#Empid").attr("value",emp);
	$("#Empid").prop("readonly", true);
}
</script>
</html>